<div class="jumbotron">
  <%= image_tag("spring_shows.png") %>
  <h1>Spring Shows</h1>
  <p class="marketing-byline">動画を見ながら楽しくお買い物♪</p>
  <a class="btn btn-large btn-primary" href="#">Comming soon...</a>
  <hr/>
  <div class="span9">
    <h3>ダウンロードが終わったら・・</h3>
    <p>早速、YouTubeで動画を見てみよう！</p>
    <a href="http://www.youtube.com/watch?v=E_NkDk49S9I">YouTubeでAKB48の動画を観る</a>
  </div>
</div>
